*{
    padding: 0;
    margin: 0;
}


body{
    background: url(../img/bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   

#scoreBox{
    position: absolute;
    top: 10px;
    right: 200px;
    font-size: 40px;
}

#hiscoreBox{
    position: absolute;
    top: 50px;
    right: 200px;
    font-size: 40px;
}

#board{
    background: linear-gradient(rgb(182, 255, 182) ,rgb(247, 247, 181));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid; 
    display: grid;
    grid-template-rows: repeat(18,1fr); 
    grid-template-columns: repeat(18,1fr); 
} 

.head{
    background: linear-gradient(red,yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    /* background-color: yellow; */
    background: linear-gradient(red,purple);
    border: .25vmin solid black ;
    border-radius: 8px;
}